.git
.DS_Store
/.turbo
node_modules
**/node_modules
**/.next
**/.turbo
**/dist
/coverage
.env
.env.local
.env.web
/storage
/installer-to-deliver
apps/desktop/.runtime-bundle
apps/desktop/dist
apps/desktop/build/*.exe
apps/desktop/build/*.zip
